$black:#000000;
$white:#ffffff;
$steelblue:#4682b4;
$dark-grey:#666666;
$light-grey:#adadad;
$redOrange:#fb8458;

$font-9: 0.70em;
$font-12: 1em;
$font-16: 1.33em;
$font-18: 1.5em;
$font-35: 2.917em;

$font-bold: 'Poppins-Bold';
$font-semibold: 'Poppins-SemiBold';
$font-medium: 'Poppins-Medium';
$font-regular: 'Poppins-Regular';
